fastapi==0.115.12
passlib==1.7.4
peft==0.15.1
pydantic==2.11.4
PyJWT==2.10.1
SQLAlchemy==2.0.31
sqlmodel==0.0.24
transformers==4.51.3
uvicorn
gunicorn
pymysql
bitsandbytes
accelerate
PyPDF2==3.0.0
python-docx
aiohttp
python-multipart==0.0.6
huggingface-hub==0.12.0
numpy==1.23.5
faiss-cpu==1.7.3
sentence-transformers==2.2.2

# ---------- PyTorch (CPU) ----------
--extra-index-url https://download.pytorch.org/whl/cpu     # сначала ссылка на колёса
torch==2.6.0+cpu                                           # ↓  затем сам PyTorch